body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  margin-bottom: -10%;
}

.header__backdrop {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: black;
}

.circle {
  z-index: 2;
  position: relative;
  width: 25%;
  min-width: 100px;
  max-width: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.main-body {
  margin: 0px 5% 5% 5%;
  text-align: center;
}

.links-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-container > a { 
  padding: 10px;
  margin: 2px
}

.links-container > a:nth-of-type(odd) {
  background-color: #e8e8e8;
}
    
.links-container > a:nth-of-type(even) {
  background-color: #f5f5f5;
}

.logo-container {
  margin-top: 35px;
}

.logo-container > a {
  margin: 8px;
}
