body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  margin-bottom: -10%;
}

.header__backdrop {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: black;
}

.circle {
  z-index: 2;
  position: relative;
  width: 25%;
  min-width: 100px;
  max-width: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.main-body {
  margin: 0px 5% 5% 5%;
  text-align: center;
}

.logo-container {
  margin-top: 35px;
}

.logo-container > a {
  margin: 8px;
}
